@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&family=Tangerine:wght@400;700&display=swap');

@import url('reset.css');
@import url('home.css');
@import url('pictures.css');

:root {
    --color-primary-1: #ffe5e5;
    --color-primary-2: #fa9380;
    --color-primary-3: #c26860;
    --color-primary-4: #bf5b58;
    --color-primary-5: #ff0000;

    --color-neutral-1: #FFFFFF;
    --color-neutral-2: #D9D9D9;
    --color-neutral-3: #8C8C8C;
    --color-neutral-4: #3A3A3A;
    --color-neutral-5: #000000;

    --color-transparent-1: rgba(255, 255, 255, 0.3);
    --color-transparent-2: rgba(0, 0, 0, 0.3);
}

.heart-particle {
    position: fixed;
    pointer-events: none;
    user-select: none;
    z-index: 99999;

    font-size: 18px;

    animation: fadeOut 1.8s linear forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}